# For standard ESP32 (WROOM-32 / DevKit-v1)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESP_UART_BRIDGE_1_REMAP_PINS=y
CONFIG_ESP_UART_BRIDGE_1_TXD_PIN=17
CONFIG_ESP_UART_BRIDGE_1_RXD_PIN=16
CONFIG_ESP_DAP_1_GPIO_SWCLK_TCK=18
CONFIG_ESP_DAP_1_GPIO_SWDIO_TMS=19
CONFIG_ESP_DAP_1_GPIO_TDI=23
CONFIG_ESP_DAP_1_GPIO_TDO=25
CONFIG_ESP_DAP_1_GPIO_NTRST=26
CONFIG_ESP_DAP_1_GPIO_NRESET=27
CONFIG_ESP_DAP_1_LED_STANDARD=y
CONFIG_ESP_DAP_1_LED_ACTIVE_LOW=n
CONFIG_ESP_DAP_1_GPIO_LED=2
CONFIG_ESP_DAP_PRODUCT_ID="CMSIS-DAP-TCP ESP32"
CONFIG_ESP_DAP_IO_PORT_WRITE_CYCLES=16
CONFIG_ESP_DAP_DELAY_SLOW_CYCLES=7
